/* From Uiverse.io by nazar-gavrylyk */ 
.btn-read-more-wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-read-more-wrapper * {
  border: none;
  outline: none;
}

.btn-read-more {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: end;
  cursor: pointer;
  width: 125px;
  height: 40px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 500;
  background-color: #f9fbf9;
  border: 2px solid #b7b8b7;
  -webkit-box-shadow: 0px 5px 12px 0px rgba(214, 215, 214, 1);
  -moz-box-shadow: 0px 5px 12px 0px rgba(214, 215, 214, 1);
  box-shadow: 0px 5px 12px 0px rgba(214, 215, 214, 1);
  overflow: hidden;
  padding: 0px 14px;
  border-top-color: #d3d3d3;
  border-bottom-color: #7e7f7e;
  transition: all 0.3s ease;
  color: black;
}

.btn-read-more .icon {
  aspect-ratio: 1/1;
  width: 16px;
  z-index: 10;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 18px;
}

.btn-read-more .text {
  z-index: 10;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 0;
}
.btn-read-more .text .tab {
  margin: 0px 2px;
}
.btn-read-more .text span {
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.btn-read-more::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 32px;
  background-color: #fff;
  border-radius: 30px;
  -webkit-box-shadow: inset 0px 5px 25px -20px rgba(66, 68, 90, 1);
  -moz-box-shadow: inset 0px 5px 25px -20px rgba(66, 68, 90, 1);
  box-shadow: inset 0px 5px 25px -20px rgba(66, 68, 90, 1);
  transition: all 0.3s ease;
}

.btn-read-more:hover::before {
  width: 125px;
  height: 40px;
  border-radius: 30px;
  -webkit-box-shadow: inset 0px -5px 25px -20px rgba(66, 68, 90, 1);
  -moz-box-shadow: inset 0px -5px 25px -20px rgba(66, 68, 90, 1);
  box-shadow: inset 0px -5px 25px -20px rgba(66, 68, 90, 1);
}

.btn-read-more:hover .text span {
  transform: translateY(40px);
  opacity: 0;
}

.btn-read-more:hover .icon {
  width: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn-read-more:active {
  transform: translateY(3px);
}
